<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menuBar.css">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar__button" id="open-image-button">Open Image</div>
      <div class="navbar__button" id="save-image-button">Save Image</div>
      <div class="navbar__button" id="duplicate-button">Duplicate</div>
      <div class="navbar__button" id="make-negative">Make Negative</div>
      <div class="navbar__button" id="threshold">Threshold</div>
    </div>
    <div class="navbar">
      <div class="navbar__button" id="histogram-button">Histogram</div>
      <div class="navbar__button" id="logical-ops">Logical Operations</div>
    </div>
    <script src="menuBar.js" type="text/javascript"></script>
  </body>
</html>
