<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3>Monochrome image fade according to percentage scale</h3>
    <br>
    <button id="add-image-btn">Add new image</button>
    <br><br>
    <script src="projectWindow.js" type="text/javascript"></script>
  </body>
</html>
